# When enabling this repo,  Ubuntu 20+ / Debian 10+ will automatically install the signing key
# All older versions require manual installation of the key using wget:
# wget -q https://downloads.plex.tv/plex-keys/PlexSign.key -O - | sudo apt-key add -
# 
# Uncomment this next line to enable the repository then update apt:  sudo apt update.
deb https://downloads.plex.tv/repo/deb/ public main